*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
}
form{
    width: 100%;
    display: flex;
    height: 20%;
    background-color: rgba(128, 128, 128, 0.322);
    padding: 15px;
    border-radius: 6px;
}
form legend{
    font-size: 50px;
}
.x{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
.darkxlegend{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark{
    background-color: #0E0E10;
    color: white;
}
.t3{
    background-image: linear-gradient(to right , rgb(74,4,4),#010000);
    color: white !important;
}
.midnight{
    background-image: linear-gradient(to right , rgb(39,34,96),#04010A);
    color: white !important;
}
.cloud{
    background-image: linear-gradient(to right , #1D3D50,#3F3F5C);
    color: white !important;
}
.crismone{
    background-color: gray !important;
    border: none !important;
    outline: none !important;
    color: white !important;

}
.inputcrismone{
    background-color: rgba(128, 128, 128, 0.356);
    border-color: white !important;
    outline-color: white !important;
    color: white;
}
.darktoggle{
    background-color: white;
}
.selecttheme{
    background-color: gray;
    outline: 1px solid gray !important ;
}
input{
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
}
input:focus{
    outline: 2px solid rgb(16, 66, 158) ;
}
select{
    padding: 10px;
    outline: 1px solid rgb(16, 66, 158) ;
}

.tables{
    width: 50%;
    margin-top: 20px;

}
.THEFORMS{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}
table{
    width: 100%;
    text-align: center;
    /* border: 3px solid black; */
    border-collapse: collapse;
    background-color: #222121;
    color: white;
    table-layout: fixed; 
}
th{
    background-color: hsl(0 0% 0% / 0.5);
}
th,td{
    padding: 1rem;
    /* border-width: 3px; */
}
hr{
    margin: 20px;
}

button{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: rgb(16, 66, 158);
    outline: none;
    border: 1px solid rgb(16, 66, 158);
    color: white;
    font-weight: 700;
    transition: all ease 0.2s;
    border-radius: 3px;
}
button:hover{
    transform: scale(1.03);
    cursor: pointer;
}

Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AlertTitle i{
    font-size: 25px;
}
#NewReference{
    width: 500px;
    height: 200px;
    background-color: #222121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}
#NewReference input{
    width: calc(100% - 20px);
    margin: 10px;
}
.btn{
    margin: 0;
    border: none;
}
#NotifBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    height: fit-content;
}
.NotifError{
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 450px;
    height: 100px;
    margin: 15px;
    background-color: rgba(121, 10, 10, 0.849);
    color: white;
    border-radius: 7px;
    padding: 15px;
}
.flexi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NotifSuccess{
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 450px;
    height: 100px;
    margin: 15px;
    background-color: rgba(23, 121, 10, 0.849);
    color: white;
    border-radius: 7px;
    padding: 15px;
}
#PrintFunc{
    width: 500px;
    height: 200px;
    background-color: #222121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}
#PrintFunc input{
    width: calc(100% - 20px);
    margin: 10px;
}
#listdrefer{
    width: 500px;
    height: fit-content;
    background-color: #222121;
    display: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: White;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.T{
    text-decoration: underline;
    color: blanchedalmond;
    font-size: medium;
}
#refplace h5,#desplae h5{
    color: white;
    font-size: 20px;
}
@keyframes notifanim {
    0%{
        right: -470px;
    }
    50%{
        right: 0;
    }
    100%{
        right: -470px;
    }
}
#des{
    outline: none;
}
img{
    width: 28px;
}

@media (max-width:981px) {
    .tables{
        width: 100%;
        table-layout: fixed;

    }
    table{
        width: 100%;
        font-size: 15px;
    }
    th{
        padding: 10px 0;
        font-size: 12px;
        text-align: center;
        width: 10px;
    }
    form{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    hr{
        display: none;
    }
    .THEFORMS{
        width: 100%;
    }
}
@media (max-width :484px) {
    .NotifError,.NotifSuccess{
        width: 225px;
    }
}
@media (max-width :530px) {
    #NewReference{
        width: 280px;

    }
}
@media (max-width : 387px) {
    th{
        font-size: 10px;
    }
    img{
        width: 18px;
    }
    .darkxlegend legend{
        font-size: 30px;
    }
}